/Practica_1 Emociones/DB
/Practica_1 Emociones/DB.zip
/Practica_1 Emociones/emocionesv0LBPHFace.xml
/Practica_2 Wally/modelo
/Practica_2 Wally/pruebas
/Practica_2 Wally/modelo.zip
/Practica_2 Wally/pruebas.zip
/Practica_4 Catrastofes/Imagenes
/Practica_4 Catrastofes/imagenes_video
